<li style="display: inline-block">
    <a href="@Url" style="text-decoration: none; color: black">
        <div class="menu-item">
            <i class="@Icon icon"></i>
            <BR/>
            <span style="text-align: center">@Text</span>
        </div>
    </a>
</li>

@code
{
    [Parameter]
    public string Icon { get; set; } = "fa fa-camera";

    [Parameter]
    public string Text { get; set; } = "Dashboard";

    [Parameter]
    public string Url { get; set; } = "#";
}
