@using System.Net
@using System.Net.Http.Json
@using Binix.Api.Model
@using Binix.Database
@using Microsoft.EntityFrameworkCore
@inject Binix.Database.IRepoTransactionBuilder _builder

<div class="card" style="padding-top: 20px">
    <div class="card-body">
        <div class="row">
                <EditForm Model="@_model" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="name" class="black">Name: </label>
                        <InputText id="name" @bind-Value="_model.Name" />
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </EditForm>
        
            </div>
    </div>
</div>
@code {
    private Zone _model = new();
    [Parameter] public EventCallback<Zone> OnSave { get; set; }
    private async Task HandleValidSubmit()
    {
        await using var repo = _builder.Build();
        await repo.Repo<Zone>().AddAsync(_model);
        await repo.SaveChangesAsync();
        await OnSave.InvokeAsync(_model);
        _model = new();
    }
}