@page "/firewall/{zone:guid}"
<TopMenu Zone="Zone"></TopMenu>
<Card Title="Firewall Rules" Subtitle="Rules for accessing this cluster zone. Be careful.">
    <table class="table-bordered table-responsive-lg table">
        <thead>
        <tr>
            <th>When</th>
            <th>Then</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Header exists "X-Bypass"</td>
            <td><button disabled class="btn btn-success">Allow</button></td>
        </tr>
        
        <tr>
            <td>Path contains "/crons"</td>
            <td><button disabled class="btn btn-danger">Block</button></td>
        </tr>

        </tbody>
    </table>
</Card>

@code
{
    [Parameter] public Guid Zone { get; set; }
}
